/* line 13, /Users/klonkr/ducking-dubstep/app/assets/stylesheets/users.css.scss */
.table .tableBody span {
  width: 100px;
}
/* line 6, /Users/klonkr/ducking-dubstep/app/assets/stylesheets/welcome.css.scss */
body h1 {
  color: grey;
}

/* line 11, /Users/klonkr/ducking-dubstep/app/assets/stylesheets/welcome.css.scss */
h1 {
  color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 13, /Users/klonkr/ducking-dubstep/app/assets/stylesheets/users.css.scss */
.table .tableBody span {
  width: 100px;
}
