
<% @division.each do |division| %>
<table>
	<h2><%= division.title %></h2>
		<th>username</th>
		<th>wins</th>
		<th>losses</th>
		<th>draws</th>
		<th>points</th>
	<% @users.where(division_id: division.id).each do |user| %>
	<tr>
		<td><%= link_to(user.username, user) %></td>
		<td><%= user.won %></td>
		<td><%= user.loss %></td>
		<td><%= user.draw %></td>
		<td><%= user.points %></td>
	</tr>
	<% end %>
</table>
<% end %>

<table>
	<th>username</th>
	<th>wins</th>
	<th>losses</th>
	<th>draws</th>
	<th>points</th>
	<th>email</th>
	<th>battletag</th>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to(user.username, user) %></td>
		<td><%= user.won %></td>
		<td><%= user.loss %></td>
		<td><%= user.draw %></td>
		<td><%= user.points %></td>
		<td><%= user.email %></td>
		<td><%= user.battletag %></td>
	</tr>
	<% end %>
</table>