<%= form_for :user, url: users_path do |f| %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :battletag %>
		<%= f.text_field :battletag %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.radio_button(:user_region, "US") %>
		<%= f.label :user_region, "US", :value => "us" %>
		<%= f.radio_button(:user_region, "EU") %>
		<%= f.label :user_region, "EU", :value => "eu" %>
		<%= f.radio_button(:user_region, "AU") %>
		<%= f.label :user_region, "AU", :value => "au" %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :email_confirmation %>
		<%= f.text_field :email_confirmation %>
	</p>
	<p>
		<%= f.submit %> 
	</p>
<% end %>