<table>
	<th>username</th>
	<th>wins</th>
	<th>losses</th>
	<th>draws</th>
	<th>points</th>
	<th>email</th>
	<th>battletag</th>
	<tr>
		<td><%= @user.username %></td>
		<td><%= @user.won %></td>
		<td><%= @user.loss %></td>
		<td><%= @user.draw %></td>
		<td><%= @user.points %></td>
		<td><%= @user.email %></td>
		<td><%= @user.battletag %></td>
	</tr>
</table>