<table>
  <tr>
    <th>Title</th>
    <th>Rank</th>
  </tr>
 
  <% @divisions.each do |division| %>
    <tr>
      <td><%= link_to(division.title, division) %></td>
      <td><%= division.rank %></td>
    </tr>
  <% end %>