<%= @division.title %>

<table>
	<tr>
		<th>username</th>
		<th>wins</th>
		<th>losses</th>
		<th>draws</th>
		<th>points</th>
		<th>played</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to(user.username, user) %></td>
		<td><%= user.won %></td>
		<td><%= user.loss %></td>
		<td><%= user.draw %></td>
		<td><%= user.points %></td>
		<td><%= user.won + user.loss + user.draw %></td>
	</tr>
	<% end %>

</table>