<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<table>
  <tr>
    <th>Title</th>
    <th>Rank</th>
  </tr>
 
  <% @divisions.each do |division| %>
    <tr>
      <td><%= division.title %></td>
      <td><%= division.rank %></td>
    </tr>
  <% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Rank</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.battletag %></td>
      <td><%= user.won %></td>
      <td><%= user.loss %></td>
      <td><%= user.draw %></td>
      <td><%= user.division_id %></td>
    </tr>
  <% end %>