// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	h1 {
		color: grey;
	}
}

h1 {
	color: red;
}