<!DOCTYPE html>
<html>
<head>
  <title>DuckingDubstep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
	<ul>
		<li>home</li>
		<li>ranking</li>
		<li>users</li>
		<li>faq</li>
		<li>contact</li>
	</ul>
</nav>
<body>

<%= yield %>
this is a test
</body>
</html>
